.DayVote {
    background: rgb(252,146,83);
    background: linear-gradient(180deg, rgba(252,146,83,1) 26%,
    rgba(255,163,84,1) 63%, rgba(255,193,124,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.formPeopleVotes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    padding-top: 20px;
}

.header {
    color: white;
    text-shadow: 2.5px 5px black;
    text-transform:uppercase;
}

.body {
    background:-webkit-linear-gradient(270deg,lightgrey,darkgrey,darkgrey);
    color: #8c0705;
    border: hidden;
    padding: 40px 20px 20px 20px;
    background-size: cover;
    height: inherit;
    vertical-align: middle;
    text-align: center;
}

.card {
    border: hidden;
    vertical-align: middle;
}