asgiref==3.2.3
asn1crypto==0.24.0
attrs==19.3.0
autobahn==19.10.1
Automat==0.8.0
cachetools==3.1.1
certifi==2019.9.11
cffi==1.12.2
channels==2.3.1
chardet==3.0.4
conda==4.7.12
conda-package-handling==1.3.10
constantly==15.1.0
cryptography==2.8
daphne==2.3.0
Django==2.2.6
django-channels==0.7.0
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
httplib2==0.13.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
jws==0.1.3
libarchive-c==2.8
nose==1.3.7
numpy==1.17.0
oauth2client==3.0.0
oauthlib==3.1.0
pipenv==2018.11.26
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycosat==0.6.3
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
PySocks==1.6.8
python-jwt==2.0.1
pytz==2019.3
requests==2.11.1
requests-oauthlib==1.2.0
requests-toolbelt==0.7.0
rsa==4.0
ruamel-yaml==0.15.46
six==1.12.0
sqlparse==0.3.0
tqdm==4.32.1
Twisted==19.7.0
txaio==18.8.1
uritemplate==3.0.0
urllib3==1.24.1
virtualenv==16.7.2
virtualenv-clone==0.5.3
zope.interface==4.6.0
