.deadScreenContainer{
  position: relative;
  height: 50vh;
  width: auto;

  /* background: red; */
  border-radius: 20px;
}

.deadScreen{
  width: auto;
  height: 60vh;
  margin-top: 50px;

  margin-bottom: 50px;
  /* background: purple; */
  border-radius: 20px;
}


.messageMafia {
  font-weight: bold;
  font-size: 10vw;
  color: white;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}

.messageCivilian {
  font-weight: bold;
  font-size: 10vw;
  color: white;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}

.messengerImage{
  padding-top: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
