.deadScreenContainer{
  position: relative;
  height: 50vh;
  width: auto;

  /* background: red; */
  border-radius: 20px;
}

.deadScreen{
  width: auto;
  height: 60vh;
  margin-top: 50px;

  margin-bottom: 50px;
  /* background: purple; */
  border-radius: 20px;
}

.buttonMafiaReturnHome{
  position: relative;
  display: block;
  margin: 0 auto;
  margin: 0px 10px 0px 10px;

  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #bababa;
  display:inline;

}
.buttonMafiaReturnHome:hover {
   background-color: white;
   color: gray;


 }

.buttonMafiaReturnHome:active {
   background-color: #989898;

   transform: scale(1);
}
.buttonCivilianReturnHome{
   position: relative;
   display: block;
   margin: 0 auto;
   margin: 150px 10px 0px 10px;

   font-size: 24px;
   font-weight: bold;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: black;
   background-color: white;
   border: none;
   border-radius: 15px;
   box-shadow: 0 5px #bababa;
   display:inline;

}
.buttonCivilianReturnHome:hover {
  background-color: white;
  color: gray;


}

.buttonCivilianReturnHome:active {
  background-color: #989898;

  transform: scale(1);
}

.CivilianWinContainer{
  position: relative;
  height: 50vh;
  width: auto;

  /* background: red; */
  border-radius: 20px;
}

.civilianWinImage{
  width: auto;
  height: 60vh;
  margin-top: 50px;

  margin-bottom: 50px;
  /* background: purple; */
  border-radius: 20px;
}
.MafiaWinContainer{

  /* background: red; */
  border-radius: 20px;

}

.mafiaWinImage{
  width: 350px;
  height: auto;
  margin-top: 100px;
  margin-bottom: 90px;
  /* background: purple; */
  border-radius: 20px;
  padding: 10px;
}
