
.App{
  text-align: center;
  width:100vw;
  height:100vh;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 26%,
  rgba(27,27,27,1) 63%, rgba(50,50,50,1) 100%);
  touch-action: manipulation;
  overflow: auto;
  z-index: -1;
}

.usernameInput{
  z-index: 1;
}


.buttonContainer{
  /* background: orange; */
  position: relative;
  border-radius: 20px;
  padding-top: 30px;


  text-align: center;
}

/* Style for button*/
.buttonContainer Button{
  margin-top: 10px;
  /* margin-right: 100px;
  margin-left: 100px;
  align-self: center; */
  padding: 12px;
  width: 200px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background: rgb(144,142,142);
  background: linear-gradient(180deg, rgba(144,142,142,1) 26%, rgba(102,101,101,1) 63%, rgba(66,66,66,1) 100%);
  border: none;
  border-radius: 20px;
  /* box-shadow: 0 5px #919191; */

}


.buttonContainer Button:active {
  color: rgb(182,33,15);
  color: linear-gradient(180deg, rgba(182,33,15,1) 60%, rgba(94,1,1,1) 76%, 
    rgba(52,2,2,1) 100%);
  transform: scale(1);
}
.buttonContainer Button:hover {
  color: rgb(182,33,15);
  color: linear-gradient(180deg, rgba(182,33,15,1) 60%, rgba(94,1,1,1) 76%, rgba(52,2,2,1) 100%);
  background-color: white;
}

/* button position for host btn */
.buttonHost{

  display: block;
  margin: 0 auto;
  font-size: 18px;
  transform: scale(1);


}

/* button position for join btn */
.buttonJoin {

  display: block;
  margin: 0 auto;
  font-size: 18px;
  transform: scale(1);
}



.usernameInput input[type=text] {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 14px;
  outline:none;
  font-size: 19px;
  font-weight: bold;

}
.usernameInput input{
  text-align:center;

}

.inputContainer{
  position:relative;
  /* background: blue; */
  border-radius: 20px;
}

.homeLogoContainer{
  position: relative;
  height: 50vh;
  width: auto;

  /* background: red; */
  border-radius: 20px;
}
.homeLogoContainer img{
  width: auto;
  height: 45vh;
  margin-top: 50px;

  margin-bottom: 50px;
  /* background: purple; */
  border-radius: 20px;

    /* z-index: 0;
    width: 100%;
    height: auto;
    min-width: 70%;
    min-height: auto;
    max-height: 80%;
    max-width: inherit; */
}

.homeContainer{

}


label{
  font-size: 20px;
  color: rgb(182,33,15);
  color: linear-gradient(180deg, rgba(182,33,15,1) 60%, rgba(94,1,1,1) 76%, rgba(52,2,2,1) 100%);
  font-weight: bold;
}
