.Narrator {
    background: rgb(252,146,83);
    background: linear-gradient(180deg, rgba(252,146,83,1) 26%,
    rgba(255,163,84,1) 63%, rgba(255,193,124,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.narratorCardContainer{
    padding-top: 20px;
    background: white;
    border-radius: 20px;
    height:500px;

}


.formSuspects {
    display: inline-block;
    list-style-type: none;
}

.submitButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;

}

.submitButton Button{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background: rgb(144,142,142);
  background: linear-gradient(180deg, rgba(144,142,142,1) 26%, rgba(102,101,101,1) 63%, rgba(66,66,66,1) 100%);
  border: none;
  border-radius: 10px;
  /* box-shadow: 0 5px #919191; */
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.05);

}

.submitButton Button:hover {
  background: -webkit-linear-gradient(#861704, #9f3a14);

  background-color: white;
}

.killButton Button{
  margin: 0 auto;
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background: rgb(144,142,142);
  background: linear-gradient(180deg, rgba(144,142,142,1) 26%, rgba(102,101,101,1) 63%, rgba(66,66,66,1) 100%);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
}

.killButton Button:hover {
  background: -webkit-linear-gradient(#861704, #9f3a14);

  background-color: white;
}


.cardDayNarratorTitle{

  font-weight: bold;
  font-size: 30px;
  margin-top: -20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.concensusTitle{
  font-weight: bold;
  font-size: 15px;

  padding: 5px 5px 5px 5px;
  margin-left: 45px;
  margin-top: -20px;

}

.peopleVotesLG{
  border-radius: 10px;
  max-height: 400px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  color: black;
  border: 1px solid white;
  background: black;

  margin-top: -10px;
  padding: 5px 10px 0 10px;
  max-height: 70px;
  width: 250px;
  margin-right:35px;
  display: flex;
  flex-direction: column;
  align-items:  center;
  align-self: center;
  padding-bottom: 10px;

}
.peopleDayVoteItem{
  font-weight: bold;
  margin-top: 2px;
  padding: 2px 0 2px 0;
  border-radius: 10px;
  background: -webkit-linear-gradient(#861704, #9f3a14);

  text-align: center;
  width: 220px;
}

.accusedLG{
  border-radius: 10px;
  max-height: 400px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  color: black;
  border: 1px solid white;
  background: black;

padding-top: 5px;
  max-height: 150px;
  width: 250px;

  display: flex;
  flex-direction: column;
  align-items:  center;
  align-self: center;
  padding-bottom: 10px;

}
.accusedUserListItem{
  font-weight: bold;
  background: white;
  border-radius: 10px;
  margin-top: 2px;
  align-items: center;
  text-align: center;
  width: 220px;

}
