.News {
    background-color: antiquewhite;
    padding: 15px 20px 15px 20px;
    border-style: hidden;
}
.head_cont{
    text-align: center;
    position: relative;
}

.title {
    font-family: Serif;
    color: #000000;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}

.date{
    text-transform: uppercase;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 10px 0 10px 0;
    text-align: center;
    font-family: Serif;
}
.result{
    color: darkred;
}

.column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-family: Serif;
}

.inside_text {
    font-family: Serif;
    font-size: 20px;
    color: black;
}
.sub_title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.footer{
    background: antiquewhite;
    text-align: center;
}

.figure_img {
    background-color: antiquewhite;
    padding: 15px 20px 15px 20px;
    border-style: hidden;
    float: right;
    text-wrap: normal;
    flex-wrap: wrap;

}