.listContainer{
  /* background: red; */
  position: relative;
  width: 500px;
  margin: 0 auto;
  max-height: 500px;
  text-align: center;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.list-group-item{
  border-radius: 10px;
  font-size: 20px;
}
.list-group-item p{
  color: white;
;
}

.lobbyLogo{
  padding-top: 50px;
  padding-bottom: 30px;
  width: 300px;
  height: auto;
}

.lobbyLogoContainer{
  position: relative;
}

.lobbyButtonContainer{
  position: relative;
  /* background: red; */
}
.Lobby button{
  margin: 10px;
  padding: 12px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background: rgb(144,142,142);
  background: linear-gradient(180deg, rgba(144,142,142,1) 26%, rgba(102,101,101,1) 63%, rgba(66,66,66,1) 100%);
  border: none;
  border-radius: 15px;

}
.Lobby button:active {
  color: rgb(182,33,15);
  color: linear-gradient(180deg, rgba(182,33,15,1) 60%, rgba(94,1,1,1) 76%,
    rgba(52,2,2,1) 100%);
  transform: scale(1);
}
.Lobby button:hover {
  color: rgb(182,33,15);
  color: linear-gradient(180deg, rgba(182,33,15,1) 60%, rgba(94,1,1,1) 76%, rgba(52,2,2,1) 100%);
  background-color: white;
}
