.NarratorNightContainer{
  background: rgb(2,11,47);
  background: linear-gradient(0deg, rgba(2,11,47,1) 22%, rgba(3,5,13,1) 93%);
  min-height: 150vh;
  padding-right: 455px;

  align-items: center;
  justify-content: center;
  align-content: center;
}

.voteStateItem{
  background: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 5px #bababa;
  outline: none;
  font-weight: bold;
}

.voting-stats-header{
  color:white;
  font-size: 25px;
  margin-top: -10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px black;
  text-transform: uppercase;
}

.changeCycleButtonContainer Button{
  position: relative;
  margin: 0 auto;
  margin: 20px 10px 0px 10px;

  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #bababa;
  display:inline;

}
.changeCycleButtonContainer Button:hover {
   background-color: white;
   color: gray;


 }

 .changeCycleButtonContainer Button:active {
   background-color: #989898;

   transform: scale(1);
 }

 /*************/
