.voteStateItem{
  background: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 5px #919191;
  outline: none;
  font-weight: bold;
}

.voting-stats-header{
  color:white;
}
.vote-stats ListGroup{
  border-radius: 20px;
  width: 10px;
}
.changeCycleButtonContainer Button{
  position: relative;
  margin: 0 auto;
  margin: 30px 10px 0px 10px;

  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #919191;
  display:inline;

}
.changeCycleButtonContainer Button:hover {
   background-color: white;
   color: gray;


 }

 .changeCycleButtonContainer Button:active {
   background-color: #989898;

   transform: scale(1);
 }
