.Narrator {
    background: rgb(252,146,83);
    background: linear-gradient(180deg, rgba(252,146,83,1) 26%,
    rgba(255,163,84,1) 63%, rgba(255,193,124,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.narratorCardContainer{
    padding-top: 20px;
    background: white;
    border-radius: 20px;
    height:500px;

}

.Narrator Button{
  margin-top: 10px;
  /* margin-right: 100px;
  margin-left: 100px;
  align-self: center; */
  padding: 12px;
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background: rgb(144,142,142);
  background: linear-gradient(180deg, rgba(144,142,142,1) 26%, rgba(102,101,101,1) 63%, rgba(66,66,66,1) 100%);
  border: none;
  border-radius: 15px;
  /* box-shadow: 0 5px #919191; */
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.05);

}



.Narrator Button:active {
  color: rgb(182,33,15);
  color: linear-gradient(180deg, rgba(182,33,15,1) 60%, rgba(94,1,1,1) 76%,
    rgba(52,2,2,1) 100%);
  background: gray;
  transform: scale(1);
}
.Narrator Button:hover {
  background: -webkit-linear-gradient(#861704, #9f3a14);

  background-color: white;
}
.Narrator Button:focus {
  outline: 0;
}

.formSuspects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
}

.submitButton {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 12px;
}

.formPeopleVotes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    padding-top: 20px;
}
